<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console">
                    <PatternLayout pattern="%m%n"/>
                </Console>
        <File name="File" fileName="target/logs/automation.log"></File>
        <PatternLayout pattern="%m%n"/>
            </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>